body {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
}

body > *  {
    padding-top: 50%;
    padding-bottom: 50%;
    margin: auto;
    display: block;
    overflow: auto;
    width: 480px;
}

header, div#b, div#c, div#d, section#e, section#f, section#g, section#h, footer.i {
    outline: solid .5px darkgrey;
}

/* desktop */

@media only screen and (min-width: 768px) {
    body {
        position: relative;
        width: 100%;
        display: block;
    }
    
    body > *  {
        padding-top: 50%;
        padding-bottom: 50%;
        margin: auto;
        display: block;
        overflow: auto;
        width: 960px;
    }
}
