body {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
}

body > *  {
    margin: auto;
    display: block;
    overflow: auto;
    width: 480px;
}

header, div#b, div#c, div#d, section#e, section#f, section#g, section#h, footer.i {
    outline: solid .5px darkgrey;
}

/* desktop */

@media only screen and (min-width: 768px) and (max-width: 960px) {
    body {
        position: relative;
        width: 100%;
        display: block;
    }
    
    body > *  {
        margin: auto;
        display: block;
        overflow: auto;
        width: 960px;
    }
}


/* tablet */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    body {
        position: relative;
        width: 100%;
        display: block;
    }
    
    body > *  {
        margin: auto;
        display: block;
        overflow: auto;
        width: 700px;
    }
}