#a {
    height: 75px;
    line-height: 75px;
}

.fattest {
    height: 150px;
    line-height: 150px;
}

/* only select div elements inside of .fat */

.fat > div {
    height: 120px;
    line-height: 120px;
}

/* only select div elements inside of .square */

.square > div {
    width: 50%;
    float: left;
    height: 250px;
    line-height: 250px;    
}

/* only select footer inside of #i - fixes stacking issue*/

#i > footer {
    height: 75px;
    line-height: 75px;
}

/*desktop view*/

@media only screen and (min-width: 768px) {
    div {
        float: left;
    }
    
    .square {
        float: right;
    } 
    
    #i {
        float: right;
    } 
}