/* mobile */
@media only screen and (max-width: 600px) {
#a {
    height: 75px;
    line-height: 75px;
}

.fattest {
    height: 150px;
    line-height: 150px;
}

/* only select div elements inside of .fat */

.fat > div {
    height: 120px;
    line-height: 120px;
}

/* grid styling added for lab 4 */

.square {
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 250px 250px;
    line-height: 250px; 
}

/* only select footer inside of #i - fixes stacking issue*/

#i > footer {
    height: 75px;
}

/* fixes height issue from calling footer inside of #i*/

#i {
    line-height: 75px;
}
}

/* desktop view */

@media only screen and (min-width: 768px) {
    
    #a {
        grid-area: a;
    }
    
    #b {
        grid-area: b;
    }

    .square {
        grid-area: e;
    }
    
    #i {
        grid-area: i;
    }
    
    .container {
        display: grid;
        grid-template-columns: 200px 190px 190px 190px 190px;
        grid-template-rows: 100px 200px 250px 150px;
        grid-template-areas: 
        "a a a a a"
        "b c c d d"
        "b e f g h"
        "b i i i i";
    }

    .fat {
        display: inline-grid;
        grid-template-columns: 380px 380px;
        grid-template-rows: 200px;
        width: 760px;
    }

    .square {
        display: inline-grid;
        grid-template-columns: 190px 190px 190px 190px;
        grid-template-rows: 250px;
    }
    

}

/* tablet view */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .square {
        display: inline-grid;
        grid-template-columns: 175px 175px 175px 175px;
        grid-template-rows: 250px;
    }

    .fattest {
        height: 200px;
    }

    .fat {
        height: 200px;
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 200px;
    }
}