/*desktop view*/

@media only screen and (min-width: 768px) {
    #a {
        width: 960px;
        height: 100px;
        line-height: 100px;
    }
    
    #b {
        width: 200px;
        height: 600px;
        line-height: 600px;
    }
    

    #c {
        width: 380px;
        height: 200px;
        line-height: 200px;
    }

    #d {
        width: 380px;
        height: 200px;
        line-height: 200px;
    }
    
    #e {
        width: 190px;
        height: 250px;
        line-height: 250px;  
    }

    #f {
        width: 190px;
        height: 250px;
        line-height: 250px;  
    }

    #g {
        width: 190px;
        height: 250px;
        line-height: 250px;  
    }

    #h {
        width: 190px;
        height: 250px;
        line-height: 250px;  
    }
    
    #i {
        width: 760px;
        height: 150px;
        line-height: 150px;
    }
}

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #a {
        width: 700px;
        height: 100px;
        line-height: 100px;
    }
    
    #b {
        width: 700px;
        height: 200px;
        line-height: 200px;
    }

    #c {
        width: 350px;
        height: 200px;
        line-height: 200px;
    }

    #d {
        width: 350px;
        height: 200px;
        line-height: 200px;
    }
    
    #e {
        width: 175px;
        height: 250px;
        line-height: 250px;  
    }

    #f {
        width: 175px;
        height: 250px;
        line-height: 250px;  
    }

    #g {
        width: 175px;
        height: 250px;
        line-height: 250px;  
    }

    #h {
        width: 175px;
        height: 250px;
        line-height: 250px;  
    }
    
    #i {
        width: 700px;
        height: 200px;
        line-height: 200px;
    }
}